body {
    margin: 0;
}

#header {
    text-align: center;
    padding: 20px 0;
    background-color: #c9f0ff;
}

#alertBanner {
    text-align: center;
    padding: 20px 0;
    background-color: red;
}

#mainBody {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

#stats {
    margin-bottom: 20px;
}

#alertHistoryHeader, #statsHeader, #sectionHitsHeader {
    padding: 10px;
    border: 1px solid grey;
}

#alertList, #sectionHitsList {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

#alertListHeader, .alert, #sectionHitsListHeader, .sectionHitElement {
    display: table-row;
}

.alertListHeaderElement, .alertType, .alertTime, .sectionHitsListHeaderElement,
    .sectionHitElementSectionName, .sectionHitElementHitCount {
    display: table-cell;
    border: 1px solid grey;
    padding: 10px;
}

#noAlertPanel, #noStatsPanel {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    border: 1px solid grey;
}
