@font-face{
    font-family:NationalWeb;
    src: url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.woff2) format("woff2"),
        url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.woff) format("woff"),
        url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-stretch:normal
}

body {
    margin: 0;
}

#root {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#header {
    text-align: center;
    padding: 20px 0 10px 0;
    background-color: #c9f0ff;
    font-family: NationalWeb, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}

#header img {
    height: 70px;
    vertical-align: middle;
    margin-top: -10px;
}

#alertBanner {
    text-align: center;
    padding: 20px 0;
    background-color: red;
    font-size: 1.3em;
}

#mainBodyWrapper {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

#mainBody {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.halfWidthSubcard {
    display: inline-block;
    width: calc(50% - 10px);
    padding-right: 8px;
}

.halfWidthSubcard + .halfWidthSubcard {
    padding-right: 0;
    padding-left: 8px;
}

.tableTitle {
    padding: 10px;
    border: 1px solid #c9f0ff;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    background-color: #c9f0ff;
    font-size: 1.25em;
}

.table {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.tableRow, .tableHeader {
    display: table-row;
}

.tableRow:not(:last-child) .tableCell, .tableHeader .tableHeaderElement{
    border-bottom: 0;
}

.tableHeaderElement {
    background-color: #c9f0ff4d;
}

.tableHeaderElement, .tableCell {
    display: table-cell;
    border: 1px solid #c9f0ff;
    padding: 10px;
}

.tableHeaderElement:not(:last-child), .tableCell:not(:last-child) {
    border-right: 0;
}

.code {
    font-family: monospace;
}

.alertTime {
    width: 50%;
}

.responseWeight {
    white-space: nowrap;
    text-align: right;
    border-left: 0;
    font-weight: bold;
}

.replacementMessage {
    text-align: center;
    padding: 50px 0;
    border: 1px solid #c9f0ff;
    opacity: 0.5;
}
