@font-face{
    font-family:NationalWeb;
    src: url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.woff2) format("woff2"),
        url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.woff) format("woff"),
        url(https://www.datadoghq.com/fonts/web-fonts/NationalWeb-Light.eot) format("embedded-opentype");
    font-weight:200;
    font-style:normal;
    font-stretch:normal
}

body {
    margin: 0;
}

#root {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#header {
    text-align: center;
    padding: 20px 0 10px 0;
    background-color: #c9f0ff;
    font-family: NationalWeb, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}

#header img {
    height: 70px;
    vertical-align: middle;
    margin-top: -10px;
}

#alertBanner {
    text-align: center;
    padding: 20px 0;
    background-color: red;
    font-size: 1.3em;
}

#mainBodyWrapper {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

#mainBody {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.tableTitle {
    padding: 10px;
    border: 1px solid grey;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.tableRow, .tableHeader {
    display: table-row;
}

.tableHeaderElement, .tableCell {
    display: table-cell;
    border: 1px solid grey;
    padding: 10px;
}

.alertTime {
    width: 50%;
}

.replacementMessage {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    border: 1px solid grey;
}
